.content {
  max-width: 1080px;
  margin: 0 auto;
}
.appbar__custom__header {
  background-color: #7c3aed;
  height: 50px;
  font-size: 40px;
}
.appbar__custom__div {
  min-height: 80px;
  font-size: 30px;
}
.div__svg__fill {
  background-color: #8b5cf6;
  height: 45px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.divflex__justify__center {
  display: flex;
  justify-content: center;
}

.div__minimum__height {
  min-height: 400px;
}
