.content {
  max-width: 1080px;
  margin: 0 auto;
}
.div__svg__fill {
  background-color: rgb(124, 58, 237);
  height: 45px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
